<div class="tab-body">
  <!-- Product View -->
  <ng-container *ngIf="output.mode==='view'">
    <div class="product-table-heading d-flex bg-primary text-white p-2 fw-bold">
      <div class="w-30">Name</div>
      <div class="w-20">Bar Code</div>
      <div class="w-15">Price</div>
      <div class="w-15">Category (Tax)</div>
      <div class="w-20">Action</div>
    </div>
    <div class="product-table-body w-100">
      <ng-container *ngIf="output.data!=='' && output.data?.length>0">
        <div class="d-flex text-dark p-2 align-items-center border-bottom" *ngFor="let product of output.data">
          <div class="w-30">{{product.name}}</div>
          <div class="w-20">{{product.code}}</div>
          <div class="w-15">{{product.price}}</div>
          <div class="w-15">{{product.cat_detail[0]?.name}} ({{product.cat_detail[0]?.tax}}%)</div>
          <div class="w-20">
            <button (click)="productFormGroup(product);output.mode='edit'" class="btn btn-edit text-primary me-1"><i class="fas fa-pencil-alt"></i> Edit</button>
            <button (click)="action('remove', {id: product._id})" class="btn btn-delete text-danger"><i class="fas fa-trash"></i> Delete</button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="output.data==='' || output.data?.length===0">
        <h4 class="text-center mt-3 text-muted">No Product Found</h4>
      </ng-container>
    </div>
  </ng-container>
  <!-- Product Add -->
  <ng-container *ngIf="['new', 'edit'].includes(output.mode)">
    <form [formGroup]="productForm">
      <div class="row">
        <div class="col-12">
          <div class="form-group mb-3">
            <div class="form-floating">
              <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Product Name">
              <label for="name">Product Name<sup class="text-danger">*</sup></label>
            </div>
            <div *ngIf="(productForm.get('name')?.dirty || productForm.get('name')?.touched) && productForm.get('name')?.invalid">
              <span *ngIf="productForm.get('name')?.hasError('required')" class="text-danger">This field is requried.</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group mb-3">
            <div class="form-floating">
              <input type="text" formControlName="code" class="form-control" id="code" placeholder="Scan Product Barcode">
              <label for="code">Product Barcode<sup class="text-danger">*</sup></label>
            </div>
            <div *ngIf="(productForm.get('code')?.dirty || productForm.get('code')?.touched) && productForm.get('code')?.invalid">
              <span *ngIf="productForm.get('code')?.hasError('required')" class="text-danger">This field is requried</span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group mb-3">
            <div class="form-floating">
              <select class="form-select" formControlName="cat_id" id="cat_id">
                <option value="">Select</option>
                <ng-container *ngIf="categories.length>0">
                  <option *ngFor="let cat of categories" value="{{cat._id}}">{{cat.name}}</option>
                </ng-container>
              </select>
              <label for="cat_id">Category<sup class="text-danger">*</sup></label>
            </div>
            <div *ngIf="(productForm.get('cat_id')?.dirty || productForm.get('cat_id')?.touched) && productForm.get('cat_id')?.invalid">
              <span *ngIf="productForm.get('cat_id')?.hasError('required')" class="text-danger">This field is required</span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group mb-3">
            <div class="form-floating">
              <input type="number" formControlName="price" class="form-control" id="price" placeholder="Enter price">
              <label for="price">Price<sup class="text-danger">*</sup></label>
            </div>
            <small class="text-muted">Enter price in largest currency (E.g Pounds).</small>
            <div *ngIf="(productForm.get('price')?.dirty || productForm.get('price')?.touched) && productForm.get('price')?.invalid">
              <span *ngIf="productForm.get('price')?.hasError('required')" class="text-danger">This field is required</span>
              <span *ngIf="productForm.get('price')?.hasError('min')" class="text-danger">Min 0 value is allowed</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</div>

<div class="tab-footer">
  <div class="row h-100">
    <div class="col-6 text-start">
      <button *ngIf="['', 'view'].includes(output.mode)" (click)="productFormGroup(); output.mode='new';" class="btn btn-primary fs-2"><i class="fas fa-plus"></i> New</button>
      <button *ngIf="output.mode=='new' || output.mode=='edit'" (click)="output.mode='view'" class="btn btn-danger fs-2"><i class="fas fa-times"></i> Cancel</button>
    </div>
    <div class="col-6 text-end">
      <button (click)="action('add')"   [disabled]="!productForm.valid" *ngIf="output.mode=='new'" class="btn btn-primary fs-2"><i class="fas fa-save"></i> Save</button>
      <button (click)="action('update')" [disabled]="!productForm.valid" *ngIf="output.mode=='edit'" class="btn btn-primary fs-2"><i class="fas fa-save"></i> Update</button>
    </div>
  </div>
</div>