.tab-body{
    max-height: 83%; 
    height: 83%; 
    overflow: hidden;
}
.tab-body .product-table-heading{height: 40px;}
.tab-body .product-table-body{
    height: calc((var(--main-screen) - 17%) - 100px) !important;
    overflow-y: auto;
    background-color: white;
}
.tab-footer{
    max-height: 10%; 
    height: 10%; 
    overflow: hidden;
}
.tab-footer button{
    height: 100%;
    width: calc(100%/2);
}