<div class="qty-container border">
  <div class="input-group input-group-lg">
    <span class="input-group-text text-uppercase"><i class="fas fa-pound-sign fa-2x"></i></span>
    <input disabled #input type="number" class="form-control bg-white text-end" placeholder="0">
  </div>
  <div class="qty-number-box">
    <button #button data-val="1" class="qty-number ripple border">1</button>
    <button #button data-val="2" class="qty-number m-4-percent ripple border">2</button>
    <button #button data-val="3" class="qty-number ripple border">3</button>
    <button #button data-val="4" class="qty-number ripple border">4</button>
    <button #button data-val="5" class="qty-number m-4-percent ripple border">5</button>
    <button #button data-val="6" class="qty-number ripple border">6</button>
    <button #button data-val="7" class="qty-number ripple border">7</button>
    <button #button data-val="8" class="qty-number m-4-percent ripple border">8</button>
    <button #button data-val="9" class="qty-number ripple border">9</button>
    <button #button data-val="" class="qty-number text-danger ripple border">Clear</button>
    <button #button data-val="0" class="qty-number m-4-percent ripple border">0</button>
    <button #button data-val="00" class="qty-number ripple border">00</button>
  </div>
</div>