.qty-container{
    height: calc(var(--main-screen) - 40%);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.qty-container .input-group{height: 100px;}
.qty-container .input-group input{font-size: 32px;}

.qty-number-box .qty-number{
    position: relative;
    display: inline-block;
    width: calc(96%/3);
    background-color: white;
    /*height: calc(((inherit - 100px) - 8vh)/4);*/
    height: calc( (56vh - 160px) / 4) ;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}
.m-4-percent{margin: 5px 2%}

.qty-number-box .qty-number:hover{ background-color:var(--primary-rgba-30);}