.button-container{height: calc((var(--main-screen) - 60%));}
.button-container button{height: calc(90%/3);}
.button-container button:nth-child(1){margin-top: 2%;}
.button-container button:nth-child(2){margin: 2% 0px;}

.total-container{max-height: calc((var(--main-screen) - 20%));border-radius: 10px;}
.total-button-container{
    max-height: calc(((var(--main-screen) - 80%) - 10px));
    margin-top: 10px;
}
.total-button-container button{
    width: calc(96%/3);
    height: 100%;
}
.total-button-container button:nth-child(2){margin: 0px 2%;}