<form [formGroup]="pForm" (ngSubmit)="changePassword()">
  <div class="row">
    <div class="col-md-12 mb-3">
      <h4><i class="fas fa-lock"></i> Update Password</h4>
    </div>
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="password" formControlName="cur_pass" class="form-control" id="cur_pass" placeholder="Password">
        <label for="cur_pass">Current Password</label>
        <div class="text-danger" *ngIf="pForm.get('cur_pass')?.errors && (pForm.get('cur_pass')?.touched || pForm.get('cur_pass')?.dirty)">
          <span *ngIf="pForm.get('cur_pass')?.hasError('required')">This field is required</span>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="password" formControlName="new_pass" class="form-control" id="new_pass" placeholder="Password">
        <label for="new_pass">New Password</label>
        <div class="text-danger" *ngIf="pForm.get('new_pass')?.errors && (pForm.get('new_pass')?.touched || pForm.get('new_pass')?.dirty)">
          <span *ngIf="pForm.get('new_pass')?.hasError('required')">This field is required</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="password" formControlName="cfn_pass" class="form-control" id="cfn_pass" placeholder="Password">
        <label for="cfn_pass">Confirm Password</label>
        <div class="text-danger" *ngIf="pForm.get('cfn_pass')?.errors && (pForm.get('cfn_pass')?.touched || pForm.get('cfn_pass')?.dirty)">
          <span *ngIf="pForm.get('cfn_pass')?.hasError('required')">This field is required</span>
        </div>
        <div class="text-danger" *ngIf="!pForm.get('cfn_pass')?.errors && (pForm.get('cfn_pass')?.touched || pForm.get('cfn_pass')?.dirty)">
          <span *ngIf="pForm?.errors?.passwordNotMatch">Password not matched</span>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button type="submit" [disabled]="!pForm.valid" class="btn btn-primary d-block ms-auto"><i class="fas fa-save"></i> Update</button>
    </div>
  </div>
</form>

