<div class="category-container border">
  <div class="category-list align-items-center" *ngIf="CATEGORIES.length>0">
    <div *ngFor="let cat of CATEGORIES; let i=index">
      <button [disabled]="mode==='edit'" #category attr.data-name="{{cat.name}}" attr.data-tax="{{cat.tax}}"  attr.data-index="{{i+1}}" class="category bg-primary text-white py-4 text-center text-capitalize">{{cat.name}}</button>
    </div>
  </div> 
  <h4 *ngIf="CATEGORIES.length===0" class="text-muted text-center mt-3">No Category Found</h4>
</div>