<div class="pos-cart-table">
  <div class="thead d-flex bg-primary text-white p-2 px-2">
    <div class="w-25">Product</div>
    <div class="w-25 text-center">Quantity</div>
    <div class="w-20 text-center">Price</div>
    <div class="w-30">Total</div>
  </div>
  <div class="tbody">
    <div class="tr border-bottom d-flex py-2 align-items-center cart-item" *ngFor="let item of [0,1,2,3,4,5,0,1,2,3,4,50,1,2,3,4,50,1,2,3,4,50,1,2,3,4,50,1,2,3,4,5]; let i=index">
      TEST ROW
    </div>
    <ng-container *ngIf="cartList.length>0">
      <div class="tr border-bottom d-flex py-2 align-items-center cart-item" *ngFor="let item of cartList; let i=index">
        <div #cartItem class="w-30 ps-1">{{item.name}}</div>
        <div class="w-20 ps-1">
          <div class="input-group input-group-sm quantity-counter" style="width: 100% !important;">
            <button [disabled]="item.qty===1" (click)="changeQuantity(i, 'minus')" class="btn btn-light" type="button"><i class="fas fa-minus"></i></button>
            <input disabled type="text" class="form-control border-none text-center bg-white" value="{{item.qty}}">
            <button (click)="changeQuantity(i, 'add')" class="btn btn-light" type="button"><i class="fas fa-plus"></i></button>                 
          </div>
        </div>
        <div class="w-20 ps-1 text-center">{{item.price}}</div>
        <div class="w-15 ps-1">{{item.price*item.qty | number}}</div>
        <div class="w-15 px-1">
          <div class="d-flex">
            <div><button class="edit-item" (click)="editCartItem(item.id, i)"><i class="fas fa-pencil-alt text-primary"></i> Edit</button></div>
            <div><button class="delete-item ms-1" (click)="removeFromCart(item.id, i)"><i class="fas fa-trash text-danger"></i> Delete</button></div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="cartList.length===0">
      <div class="w-100 text-center fs-3 my-4 text-muted"><i class="fas fa-shopping-cart d-block"></i> Cart Empty</div>
    </ng-container>
  </div>
  <div class="tfoot d-flex bg-primary text-white align-items-center px-2 pe-5">
    <div class="flex-grow-1 fs-4">Total</div>
    <div class="fs-4">£ {{total}}</div>
  </div>
</div>