.tab-body{
    max-height: 93%; 
    height: 100%; 
    overflow: hidden;
}
.tab-body .sales-filter{ height: 10%; overflow: hidden;}
.tab-body .sales-table{ height: 90%; overflow: hidden;}

.tab-body .sales-table-heading{height: 40px;}
.tab-body .sales-table-body{
    height: calc(100% - 40px) !important;
    overflow-y: auto;
    background-color: white;
}