<div class="pos-screen">
  <div class="container-fluid">
    <div class="row">
      <div class="screen-col col-3">
        <div class="sidebar shadow bg-white rounded p-3">
          <ul class="list-unstyled m-0 h-100">
            <li><button class="shadow" [ngClass]="{'active': currentTab === 'dashboard'}" (click)="currentTab = 'dashboard'"><i class="fas fa-home"></i> Dashboard</button></li>
            <li><button class="shadow" [ngClass]="{'active': currentTab === 'users'}"     (click)="currentTab = 'users'"><i class="fas fa-users"></i> Users</button></li>
            <li><button class="shadow" [ngClass]="{'active': currentTab === 'sales'}"     (click)="currentTab = 'sales'"><i class="fas fa-receipt"></i> Manage Sales</button></li>
            <li><button class="shadow" [ngClass]="{'active': currentTab === 'settings'}"  (click)="currentTab = 'settings'"><i class="fas fa-cog"></i> Settings</button></li>
            <li><button class="shadow" class="bg-danger text-white" (click)="logout()"><i class="fas fa-power-off"></i> Logout</button></li>
          </ul>
        </div>
      </div>
      <div class="screen-col col-9">
        <div class="tab bg-white h-100 rounded shadow">
          <div class="tab-heading bg-light fs-2 ps-3 border-bottom text-capitalize">{{currentTab}}</div>
          <div class="tab-content">
            <ng-container *ngIf="currentTab === 'dashboard'">
              [DASBOARD]
            </ng-container>
            <ng-container *ngIf="currentTab === 'users'">
              <app-admin-manage-users></app-admin-manage-users>
            </ng-container>
            <ng-container *ngIf="currentTab === 'sales'">
              <app-admin-manage-sales></app-admin-manage-sales>
            </ng-container>
            <ng-container *ngIf="currentTab === 'settings'">
              <app-admin-settings></app-admin-settings>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>