<!-- Modal -->
<div class="modal fade" #receiptModal id="receiptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content shadow-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sale Receipt</h5>
        <button (click)="hideModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="print_receipt">
        <div class="business-info">
          <div *ngIf="settings.bname" class="business-name fs-3 text-center">{{user.bname}}</div>
          <div *ngIf="settings.bntn" class="business-address text-center mb-3">NTN: {{user.bntn}}</div>
          <div class="mb-1" *ngIf="settings.invoice_no">Invoice No: 123456789</div>
          <div class="mb-1" *ngIf="settings.invoice_date">Genrated On: {{current_date | date : 'short'}}</div>
        </div>
        <table class="table table-borderless">
          <thead class="bg-light">
            <tr>
              <td>Product</td>
              <td>Qty</td>
              <td>Price</td>
              <td *ngIf="settings.vat">Vat</td>
            </tr>
          </thead>
          <tbody *ngIf="output?.data?.items">
            <tr *ngFor="let item of items">
              <td>{{item.name}}</td>
              <td>{{item.qty}}</td>
              <td>{{item.price}}</td>
              <td *ngIf="settings.vat">{{item.tax}}%</td>
            </tr>
            <tr class="border-top" *ngIf="output.data?.subtotal">
              <td class="fw-bold" colspan="2">SubTotal</td>
              <td>{{output.data.subtotal}}</td>
            </tr>
            <tr *ngIf="settings.discount && output.data?.discount">
              <td colspan="2">Discount</td>
              <td>-{{output.data.discount}}%</td>
            </tr>
            <tr *ngIf="output.data?.total">
              <td class="fw-bold" colspan="2">Total</td>
              <td>{{output.data.total}}</td>
            </tr>
            <tr *ngIf="output.data?.paid">
              <td class="fw-bold" colspan="2">Paid</td>
              <td>{{output.data.paid}}</td>
            </tr>
            <tr *ngIf="output.data?.paid">
              <td class="fw-bold" colspan="2">Change</td>
              <td>{{(output.data.paid - output.data.total) | number}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button (click)="hideModal()" type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>
        <button (click)="printReceipt()" type="button" class="btn btn-primary"><i class="fas fa-print"></i> Print</button>
      </div>
    </div>
  </div>
</div>




<div class="w-100 print-table" *ngIf="output?.data">
  <div class="business-info">
    <div *ngIf="settings.bname" class="business-name fs-3 text-center">{{user.bname}}</div>
    <div *ngIf="settings.bntn" class="business-address text-center mb-3">NTN: {{user.bntn}}</div>
    <div class="mb-1" *ngIf="settings.invoice_no">Invoice No: 123456789</div>
    <div class="mb-1" *ngIf="settings.invoice_date">Genrated On: {{current_date | date : 'short'}}</div>
  </div>
  <div class="d-flex p-1">
    <div class="w-50 fw-bold">Product</div>
    <div class="w-20 fw-bold">Qty</div>
    <div class="w-20 fw-bold">Price</div>
    <div *ngIf="settings.vat" class="w-10 fw-bold">Vat</div>
  </div>
  <ng-container *ngIf="output?.data?.items">
    <div class="d-flex p-1 border-bottom" *ngFor="let item of items">
      <div class="w-50">{{item.name}}</div>
      <div [ngClass]="(settings.vat) ? 'w-20' : 'w-25'">{{item.qty}}</div>
      <div [ngClass]="(settings.vat) ? 'w-20' : 'w-25'">{{item.price}}</div>
      <div *ngIf="settings.vat" class="w-10">{{item.tax}}%</div>
    </div>
  </ng-container>
  <div class="d-flex p-1" *ngIf="output.data?.subtotal">
    <div class="w-75">SubTotal</div>
    <div class="w-25">{{output.data.subtotal}}</div>
  </div>
  <div class="d-flex p-1" *ngIf="settings.discount && output.data?.discount">
    <div class="w-75">Discount</div>
    <div class="w-25">{{output.data.discount}}%</div>
  </div>
  <div class="d-flex p-1 border-top" *ngIf="output.data?.total">
    <div class="w-75 fw-bold">Total</div>
    <div class="w-25 fw-bold">{{output.data.total}}</div>
  </div>
  <div class="d-flex p-1" *ngIf="output.data?.paid">
    <div class="w-75">Paid</div>
    <div class="w-25">{{output.data.paid}}</div>
  </div>
  <div class="d-flex p-1" *ngIf="output.data?.paid">
    <div class="w-75">Change</div>
    <div class="w-25">{{(output.data.paid - output.data.total) | number}}</div>
  </div>
</div>