.qty-container{height: calc(var(--main-screen) - 40%)}
.button-container{height: calc((var(--main-screen) - 60%) - var(--screen-padding))}

.qty-container .input-group{height: 100px;}
.qty-container .input-group input{font-size: 32px;}

.qty-number-box .qty-number{
    position: relative;
    display: inline-block;
    width: 32%;
    background-color: white;
    margin-top: 2%;
    height: calc(((60vh - 100px) - 8vh)/4);
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}
.m-4-percent{margin: 0px 2%}

.qty-number-box .qty-number:hover{ background-color:var(--primary-rgba-30);}